.dashboard-banner {
  /*font-family:*/
  padding: 90px 0;
  object-fit: cover;
  background-position: center;
  background-image: url('https://a0.muscache.com/im/pictures/65b539fe-ecdf-4b81-b073-eefa64fa3465.jpg?im_q=highq&amp;im_w=720');

  h1 {
    color: white;
    font-weight: 800;
    font-size: 88px;
    line-height: 93px;
    max-width: 50px;
    padding-left: 80px;
  }
}


.dashboard-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  padding-left: 80px;
  margin-top: 40px;
}

.dashboard-upcoming-bookings, .dashboard-upcoming-trainings {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 40px;
}

hr {
  margin-left: 80px;
  margin-right: 80px;
}
