// Specific CSS for your home-page
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

.banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.btn-ghost {
  color: #485159;
  background-color: white;
  font-size:20px;
  border: 0.5px solid white;
  padding: 8px 8px;
  border-radius: 5px;
  opacity: 0.8;
  font-weight: light;
  font-family: "Helvetica";
  transition: opacity 0.3s ease;
  position:absolute;
  top:300px;
  right:70px;
}

.btn-ghost:hover {
  opacity: 1;
  color: #485159;
}

.card-container {
  background-color: #D4D9D2;
  margin:none;
  color: #95A092;
  padding:100px 50px;

}

.container {
  background-color: #D4D9D2;
  margin:none;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
  margin-bottom:20px;
  opacity: .8;
  filter:grayscale(100%);
}

.card-category:hover {
  opacity: 1;
  filter:none;
}

.footer {
  background-color: #D4D9D2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a {
  color: #95A092;
  font-size:30px;
}

