@import "components/navbar";
@import "components/training";

.btn-checkout {
  color: white;
  background-color: #485159;
}

.training-content {
  background-color: #D4D9D2;
}

.training-content-info {
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  width: 60%;
}

.training-content-cart {
  background-color: #D4D9D2;
  padding: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  position:absolute;
  top: 8vh;
  right: 18vh;
  z-index:1;
  width: 300px;
  opacity: 85%;
  z-index:1;
}

.training-content-info p {
  font-size: 13px;
}

.training-content-info {
  background-color: #128792;
  position: absolute;
  top: 350px;
  width: 800px;
}

.trainer-image {
  border-radius: 50%;
  position: absolute;
  left: 660px;
  bottom: 140px;
  border: 10px solid #128792;
}

.spotify {
  margin-right: 100px;
  margin-top: 220px;
}

.spotify iframe {
 border-radius: 5px;
}

.middle-banner {
background-color: #128792;

}

.middle-banner h1 {
 letter-spacing: 2px;
 color: white;
 padding: 10px;
 font-size: 30px;
}


.top-container {
  background-image: url('images/b_w_gym_backgorund.jpg');
}

.top-container {
  height: 650px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.covid-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 30px;
    background-color: #D4D9D2;
    text-align: center;
    color: #128792;

}

.covid-card i {
  color: #485159;
  font-size: 40px;
  padding: 20px;
}

.top-header{
  position:absolute;
  top: 35vh;
  left: 6vh;
  z-index:1;
  color:white;
}


.highlighted {
  background-color: rgba(18, 135, 146, 0.5);
  padding: 5px 15px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

h2 {
    font-family: 'Bebas Neue', cursive;
}

h5 {
  font-family: 'Bebas Neue', cursive;
}
