<% @t_sessions.each do |t_session| %>


  <div style="border-bottom: 1px solid lightgrey !important;"  class="card-result">
    <% if t_session.photo.attached?  %>
      <%= cl_image_tag t_session.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img height="300" width="400" src="https://res.cloudinary.com/dzyd1ynmn/image/upload/v1605792731/no_img_available_skqx9j.png">
      http://res.cloudinary.com/dzyd1ynmn/image/upload/c_fill,h_300,w_400/1askgpvmvupv9jbodyzmcujo6cva
    <% end %>


    <div class="product-text">
      <div class="card-product-infos ">
        <h2><%= link_to t_session.category, training_session_path(t_session.id) %></h2>
        <h2>£<%= t_session.cost %></h2>
      </div>
      <div>
        <p><%= t_session.description %></p>
      </div>
    </div>
  </div>
<% end %>

