<% @sessions.each do |s| %>

  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />

    <div class="product-text">
      <div class="card-product-infos">
        <h2><%= s.category %></h2>
        <h2>£<%= s.cost %></h2>
      </div>
      <div>
        <p><%= s.description %></p>
      </div>
    </div>

<% end %>
