<div class="index-container border border-primary">
  <div class="cards-container border border-secondary">
    <h2 class="section-title">Training next to you</h2>
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
    <%= render 'shared/card' %>
  </div>
  <div class="map border border-secondary">
  </div>
</div>



