<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.bioathletic.com.au/wp-content/uploads/2018/12/active-agile-exercise-1401796-e1545140158212-1500x732.jpg);">
<a class="btn btn-ghost" href="#">FIND YOUR <STRONG>AIR</STRONG>TRAINER NOW</a>
</div>

<%= render "form", session: @t_session %>