.card-result {
  overflow: hidden;
  height: 160px;
  background: white;
  display: flex;
  align-items: center;
  border: 6px, dotted, black;
  padding-bottom: 2vh;
  margin-top: 2vh;
  padding-right: 2vh;
}

// .card-result:hover {
//   padding: 3px;
//   cursor: pointer;
// }


.card-result img {
  height: 100%;
  width: 30vh;
  object-fit: cover;
  margin: 2vh;

}

.card-result h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.card-result a {
  text-decoration: none;
}

.a{
  text-decoration: none;
}

.card-result p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  
}

.card-result .card-result-infos {
  padding: 0px;
}

.card-result-infos {
  display: flex;
  justify-content: space-between;
 
.card-produc-infos{
  width: 100%;
}
}
.product-text {
  width: 100%;
  height: 80%;
}

.product-text p {
  padding-left: 16px;
}
