.card-result {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  border: 6px, solid, black;
  padding-bottom: 4vh;
  margin-top: 4vh;
}

// .card-result:hover {
//   padding: 3px;
//   cursor: pointer;
// }


.card-result img {
  height: 100%;
  width: 30vh;
  object-fit: cover;
  margin: 2vh;

}

.card-result h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-result p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  padding: 0;
}

.card-result .card-result-infos {
  padding: 0px;
}

.card-result-infos {
  display: flex;
  justify-content: space-between;
  
}
.product-text {
  width: 100%;
}

.product-text p {
  padding-left: 16px;
}
