.dashboard-card {
  padding-right: 64px;
  overflow: hidden;
  height: 160px;
  background: #E6E8E5;
  display: flex;
  align-items: center;
  img {
    border-radius: 6px;
    transition: 0.4s;
  }
  img:hover {
    cursor: pointer;
    box-shadow: 0 0 3px 3px #589da7;
  }
}

.dashboard-card img {
  width: 160px;
  object-fit: cover;
  // transition: 0.4s;
}

.dashboard-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
  transition: 0.4s;
}

.dashboard-card:hover {
  img {
    box-shadow: 0 0 3px 3px #78b1b9;
    cursor: pointer;
  }
  h2, p {
    color: #128792;
  }
}

.dashboard-card p {

  font-size: 16px;
  font-weight: 600;
  opacity: 50%;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  transition: 0.4s;
}

.dashboard-card .dashboard-card-infos {
  padding-left: 16px;
}

