// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "training";

.index-container {
  display: flex;
  margin: 80px;
}

.cards-container {
  width: 90%;
  padding: 20px;
  margin: 20px;
}

.map {
  width: 90%;
  height: 100%;
}

body {
  background-color: white;
}

.section-title {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.myBtnContainer {
  background-color: white;
}
