// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";

.index-container {
  display: flex
}

.cards-container {
  width: 60%;
  padding: 20px;
  margin: 20px;
}

body {
  background-color: white;
}
