.navbar-lewagon {
  justify-content: space-between;
  background: #CBD1C9;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h1 {
  font-size: 60px;
  margin-top:20px;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-fixed-top.scrolled {
  background-color: #CBD1C9 !important;
  transition: background-color 500ms linear;
}
