.navbar-lewagon {
  justify-content: space-between;
  background: #CBD1C9;
  background-color:transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand h1 {
  font-size: 60px;
  margin-top:20px;
}
